.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;
  background: #ffffff;

  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  top: 0;
  /* margin: 15px; */
  position: fixed;
  width: 98vw;
}

*{
  box-sizing: border-box;
}

.search-container {
  flex: 1;
  max-width: 500px;
}

.search-input {
  width: 100%;
  padding: 10px 14px;

  border-radius: 10px;
  border: 1px solid #ddd;

  outline: none;
  font-size: 14px;

  transition: border 0.2s;
}

.search-input:focus {
  border-color: #6366f1;
}


.profile {
  margin-left: 20px;
}

.profile-circle {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: #6366f1;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  cursor: pointer;
}